.header {
    ul {
        list-style-type: none;
        padding: 0;
        li {
            float: right;
            font-size: 20px;
            padding-right: 7px;
            cursor: pointer;
        }
        li:hover {
            text-decoration: underline;
            font-size: 22px;
        }
    }
}
