.header {
    ul {
        list-style-type: none;
        padding: 0;
        span {
            position: relative;
            right: 0px;
            font-size: larger;
            padding-right: 10px;
            cursor: pointer;
        }
    }
}

span {
    position: relative;
    right: 0px;
    font-size: larger;
    padding-right: 10px;
    cursor: pointer;
}
